# IDEA
.idea/

# CMake
cmake-build-debug/
cmake-build-release/

# File-based project format:
*.iws

# MacOS:
*.DS_Store

# Build artifacts:
out/
gradlew
.gradle/
classes/
build/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
